<!doctype html>
<html lang="pt-br" ng-app="ControleInsulina">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>O Rei da Insulina</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="O Rei da Insulina">
    <link rel="icon" sizes="192x192" href="app/images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="O Rei da Insulina">
    <link rel="apple-touch-icon" href="app/images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#00923f">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#00923f">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app/css/app.css">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
</head>

<body ng-controller="ControleInsulinaController" layout="row" ng-cloak>

<md-sidenav layout="column"
            class="md-sidenav-left site-sidenav"
            md-component-id="menu"
            md-is-locked-open="$mdMedia('gt-sm')"
            ng-show="dadosUsuario"
            md-whiteframe="4">

    <md-toolbar class="light-primary-color">

        <img flex src="app/images/aplicar_insulina.png" class="logo" alt="O Rei da Insulina">

        <md-list flex>

            <md-list-item class="md-2-line contact-item">
                <md-icon md-svg-icon="heart-pulse" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                    <h3 md-truncate>
                        <strong>{{dadosUsuario.nome_usuario}}</strong>
                    </h3>
                    <p md-truncate>{{dadosUsuario.tipo_diabete.nome}}</p>
                </div>
            </md-list-item>

        </md-list>

    </md-toolbar>

    <md-content flex>

        <h3 class="md-caption" align="center">MENU</h3>

        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-click="adicionarUsuario($event)">
                <md-icon md-svg-icon="account-check"></md-icon>
                <p md-truncate class="md-truncate">Dados Cadastrais</p>
            </md-list-item>
            <md-list-item ng-click="apagarTudo()">
                <md-icon md-svg-icon="account-remove"></md-icon>
                <p md-truncate class="md-truncate">Apagar Dados</p>
            </md-list-item>
        </md-list>

    </md-content>

    <p class="md-body-2 primary-text-color" align="center" md-truncate>O Rei da Insulina</p>

</md-sidenav>

<main class="light-primary-color" layout="column" md-swipe-right="abrirMenu()" layout-align="space-around center" flex>

    <md-toolbar md-whiteframe="1">

        <div class="md-toolbar-tools">

            <md-button class="md-icon-button" ng-show="dadosUsuario" ng-click="abrirMenu()" hide-gt-sm>
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>

            <div layout="row" flex>
                <h2 class="text-primary-color" flex md-truncate>O Rei da Insulina</h2>
            </div>

        </div>
    </md-toolbar>

    <md-content class="light-primary-color"
                ng-if="loading.show"
                layout="column"
                layout-align="center center"
                layout-padding flex="10">
        <div layout="row" layout-padding layout-align="space-between center">
            <md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
            <p>{{loading.message}}</p>
        </div>
    </md-content>

    <md-content layout="column" ng-if="!dadosUsuario" layout-align="center center" flex layout-fill layout-padding>
        <p>Nenhum usuário foi cadastrado. Cadastre clicando no botão flutuante!</p>
    </md-content>

    <md-content ng-show="dadosUsuario" class="light-primary-color" layout="column" flex layout-fill>

        <md-list flex>

            <md-subheader class="md-no-sticky light-primary-color">
                Histórico de Insulina
            </md-subheader>

            <md-list-item class="md-2-line" ng-if="!historicoInsulinas.length">
                Não há histório de insulinas cadastradas
            </md-list-item>

            <md-list-item class="md-2-line" ng-repeat-start="insulina in historicoInsulinas | orderBy: '-data'">
                <md-icon md-svg-icon="needle" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                    <h3>{{tiposInsulinas[insulina.tipo.tipo].nome}} - <strong>{{insulina.tipo.nome}}</strong></h3>
                    <p><strong>Quantidade:</strong> {{insulina.quant}}</p>
                    <p><strong>Data:</strong> {{insulina.data | date:'dd/MM/yyyy - H:mm'}}</p>
                </div>
                <md-button class="md-secondary md-icon-button"
                           ng-click="calcularInsulina($event, insulina)">
                    <md-icon md-svg-icon="border-color"></md-icon>
                </md-button>
            </md-list-item>

            <md-divider ng-repeat-end></md-divider>

        </md-list>
    </md-content>

    <md-button class="md-warn md-fab md-fab-bottom-right"
               ng-show="dadosUsuario"
               ng-click="calcularInsulina($event)"
               aria-label="Calcular Insulina">
        <md-icon md-svg-src="needle"></md-icon>
    </md-button>

    <md-button class="md-warn md-fab md-fab-bottom-right"
               ng-hide="dadosUsuario"
               ng-click="adicionarUsuario($event)"
               aria-label="AdicionarUsuário">
        <md-icon md-svg-src="account-plus"></md-icon>
    </md-button>

</main>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="bower_components/angular-material/angular-material.min.js"></script>

<script type="text/javascript" src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>

<script type="text/javascript" src="bower_components/barbara-js/barbarajs.min.js"></script>

<script type="text/javascript"
        src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script type="text/javascript"
        src="bower_components/angular-input-masks/angular-input-masks-dependencies.min.js"></script>
<script type="text/javascript" src="bower_components/angular-input-masks/angular-input-masks.min.js"></script>
<script type="text/javascript" src="bower_components/angular-input-masks/angular-input-masks.br.min.js"></script>

<script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="app/js/app.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98336548-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- Built with love using O Rei da Insulina -->
</body>
</html>